.layout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  color: var(--tone12);
  background: var(--tone1);
}

.left-nav {
  width: 310px;
  height: 140vh;
  left: 0;
  top: 0;
  background: var(--tone1);
  position: absolute;
  box-shadow: 5px 10px 18px var(--tone2);
}

.right-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.top-nav {
  height: 8vh;
  width: 100vw;
  background: var(--tone1);
}

.logo-background {
  width: 210px;
  margin: 15px;
}

.greeting {
  font-size: 30px;
  color: var(--tone12);
  font-weight: 800;
  text-shadow: 5px 5px 15px var(--tone1);
}

.welcome {
  position: absolute;
  left: 60px;
  top: 50px;
}

.username {
  position: absolute;
  left: 110px;
  top: 90px;
}

.nav-links {
  width: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.nav-link {
  height: 68px;
  width: 255px;
  background: var(--tone1);
  margin: 5px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding-left: 22px;
  color: var(--tone12);
}

.nav-link:hover,
.top-nav-link:hover {
  color: var(--tone1);
  transition: ease-in-out 0.25s;
  background: var(--tone6);
}

.nav-label {
  margin-left: 15px;
}

.divide-line {
  width: 270px;
  border: 2px solid var(--tone2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 18px;
}

.permission-statement {
  position: absolute;
  left: 350px;
  top: 28px;
  font-size: 22px;
}

span {
  font-weight: 700;
}

.top-nav-links {
  position: absolute;
  top: 1px;
  right: 15px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}

.top-nav-link {
  height: 68px;
  width: 150px;
  background: var(--tone1);
  margin: 5px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding-left: 22px;
  color: var(--tone12);
}

.page-content {
  height: 132vh;
  background: var(--tone4);
  position: absolute;
  left: 310px;
  top: 8vh;
  width: 1500px;
} 

.content {
  display: flex;
  justify-content: center;
}

.spacer {
  height: 55px;
}