.profile-card {
  height: 650px;
  width: 535px;
  background: var(--tone1);
  border-radius: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  box-shadow: 0 0 15px var(--tone10);
}

.profile-image {
  height: 295px;
  border-radius: 50%;
}

.profile-info {
  margin: 10px;
}

.top-info {
  margin-top: 40px;
}