.home-header {
  width: 72vw;
  background: var(--tone9);
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  color: var(--tone1);
  font-size: 22px;
  font-weight: 600;
  padding-left: 3vw
}

.home-graph {
  width: 75vw;
}