.project-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.project-card {
  margin: 2vw;
  box-shadow: 0 0 15px var(--tone10);
  height: 415px;
  width: 340px;
  border-radius: 40px;
}

.project-card-name {
  height: 70px;
  font-size: 24px;
  text-decoration: none;
  color: var(--tone12);
  font-weight: 600;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 30px;
  background: var(--tone1);
  border-radius: 40px 40px 0 0;
}

.project-image {
  height: 345px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-card-image-container {
  height: 280px;
  width: 280px;
  overflow: hidden;
  margin: 0;
  border: 2px solid var(--tone7);
  border-radius: 5px;
}

.project-card-image {
  object-fit: cover;
  object-position: center;
  height: 280px;
  width: 280px;
}